body{
    height: 100%;
    width: 100%;
}
.All{
    display: flex;
}
.steps{
    background-image: url(challagePic/bg-pic.svg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 600px;
    padding-left: 60px;
    color: white;
}
.step{
    display: flex;
}
.step h4{
    font-size: 15px;
}
.step h3{
    border-radius: 2px solid ;
    width: 20px;
    background-color: black;
}
.Info{
    margin-left: 20px;
}
 
