body{
    height: 90vh;
    width: 100%;
    background-color: rgba(227, 197, 197, 0.42);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.All{
    display: flex;
    width: 70%;
    background-color: white;
    height: 400px;
}
.steps{
    background-image: url(challagePic/bg-pic.svg);
    background-position: center;
    background-size: auto;
    width: 200px;
    height: 400px;
    padding-left: 60px;
    color: white;
}
.step{
    display: flex;
}
.step h4{
    font-size: 13px;
    font-weight: 100;
}
.step h4 span{
    font-weight: 30px;
    font-size: 17px;
}
.step h3{
    border: 2px solid ;
    border-radius: 50px;
    width: 20px;
    align-content: center;
    align-items: center;
}
.Info{
    margin-left: 20px;
}
 
/* detailed section */

.detalis{
    width: 60%;
    margin-left: 60px;
    position: relative;
}
.info h2 span{
    font-weight: 50;
    font-size: 15px;
}
.inp{
    margin-top: 20px;
}
.inp input{
    margin-top: 7px;
    width: 90%;
    outline: none;
    padding: 7px;
    border-radius: 6px;
    border: 1px solid;
}
/* buttons */
.Buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-left: 40px;
    margin-top: 30px;
    top: 80%;
}
.btn button{
    width: 60px;
    padding: 8px;
    background: rgb(40, 19, 203);
    border: none;
    border-radius: 7px;
    color: white;
}
.btn button:hover{
    background: rgb(26, 12, 131);
}

.hidden{
   display: none;
}