body{
    height: 90vh;
    width: 90%;
    background-color: rgba(227, 197, 197, 0.42);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.All{
    display: flex;
    width: 70%;
    background-color: white;
    height: 400px;
}
.steps{
    background-image: url(challagePic/bg-pic.svg);
    background-position: bottom;
    background-size: auto;
    width: 200px;
    height: 400px;
    padding-left: 40px;
    color: white;
}
.step-container{
    margin-top: 20px;
}
.step{
    display: flex;
    flex-direction: row;
}
.step h4{
    font-size: 11px;
    font-weight: 300;
    color: rgb(177, 166, 166);
}
.step h4 span{
    font-weight: 30px;
    font-size: 15px;
    color: white;
}

.Info{
    margin-left: 20px;
}
.numb{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
}
.sum-1{
    display: block;
}
.thanks{
    display: none;
}
.sum-2{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.sum-2 p{
    font-size: 18px;
    padding: 10px;
    width: 500px;
}
.sum-2 img{
    width: 50px;
}
.active{
    background-color: gray;
}
.active_plan{
    background-color: aqua;
}
 
/* detailed section */
.page{
    position: absolute;
    width: 100%;
}
.clicked{
    border: none;
    background: rgb(201, 195, 195);
}
.detalis{
   padding-left: 30px;
   width: 100%;
   display: flex;
   flex-direction: column;
}
.detail_sec2{
    width: 80%;
    padding-left: 30px;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    overflow: hidden;
    height: 330px;
}
.info h2 span{
    font-weight: 50;
    font-size: 15px;
}
.inp{
    margin-top: 10px;
}
.inp input{
    margin-top: 7px;
    width: 90%;
    outline: none;
    padding: 7px;
    border-radius: 6px;
    border: 1px solid rgb(102, 91, 91);
}
/* buttons */
.Buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-left: 80px;
    margin-top: 30px;
    top: 70%;
}
.btn button{
    width: 60px;
    padding: 8px;
    background: rgb(40, 19, 203);
    border: none;
    border-radius: 7px;
    color: white;
}
.btn button:hover{
    background: rgb(26, 12, 131);
}
.back{
    visibility: hidden;
}

.hidden{
   display: none;
}

/* plans */
.plans_options{
    display: flex;
    flex-direction: row;
}
.plans_options .first{
    border: 1px solid black;
    width: 20%;
    padding: 12px;
    border-radius: 10px;
}
.plans_options .second{
    border: 1px solid black;
    margin-left: 20px;
    width: 20%;
    border-radius: 10px;
    padding: 12px;
}
.plans_options .third{
    border: 1px solid black;
    margin-left: 20px;
    width: 20%;
    border-radius: 10px;
    padding: 12px;
}

/* summary */
.summary{
    height: 200px;
    position: relative;
}
.summary-menu{
    background-color: rgb(213, 193, 211);
    padding: 10px;
    padding-bottom: 50px;
    height: 110px;
}
.services{
    background-color: whi;
}
.subscrib{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.total{
    padding: 10px;
}
.add-sum span{
    margin-left: 330px;
}
.total span{
    margin-left: 310px;
}


/* for buttons */
.sub{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
    width: 70%;
    margin-bottom: 40px;
}
.radio_btn{
    border-radius: 20px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 200, 200);
    margin-bottom: 40px;
}
input[type="radio"]{
    background-color: black;
}

.plans_options h2 span{
    font-weight: 50;
    font-size: 15px;
}

/* pick add-ons */
.subs{
    border: 1px solid rgb(48, 51, 249);
    margin-bottom: 10px;
    width: 94%;
}
.online{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    padding: 17px;
    padding-top: 0;
}  
.online-dis{
    display: flex;
    flex-direction: row;
    width: 60%;
}
.online-dis p{
    margin-left: 30px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}
.online-dis p span{
    font-size: 13px;
}
.online-dis input{
    margin-top: 20px;
}
.onth{
    margin-top: 25px;
    color: blue;
}
.error-msg{
    color: red;
    font-size: 10px;
    padding: 0;
    margin: 0;
}
.error input{
    border: 1px solid red;
}
.success input{
    border: 1px solid green;
}
.ground h3{
    background-color: gray;
}
 /* for mobile */
 @media (max-width: 590px){
       body{
        width: 100%;
        
       }
      .All{
        display: block;
        background-color: rgb(192, 178, 178);
        width: 100%;
        height: 90vh;
      }
      .steps{
        background-image: url(challagePic/bg-mobile.svg);
        width: 90%;
        height: 100px;
        background-size: cover;
        background-position: center;
        border-radius: 0;
      }
      .step-container{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        align-items: center;
        margin-top: 0px;
      }
      .step-container .Info{
        display: none;
      }
      .step div{
        margin-left: 20px;
      }
      .detalis{
        padding-left: 0px;
      }
      .detail_sec2{
        background-color: white;
        width: 93%;
        height: 60vh;
        position: absolute;
        padding-left: 0px;
        top: 6%;
        border-radius: 10px;
        margin-left: 2%;
      }
      .Buttons{
        position: absolute;
        width: 93%;
        margin-left: 0px;
        top: 95%;
        padding: 10px;
        background-color: white;
    }
    .personal{
        width: 85%;
        position: absolute;
        padding-left: 20px;
        left: 1px;
    }  
    .plans{
        width: 100%;
        position: absolute;
        padding-left: 5px;
    }
    .Ads{
        width: 90%;
        padding-left: 25px;
        position: absolute;
    }
    .summary{
        width: 90%;
        padding-left: 20px;
        position: absolute;
    }

    .inp input{
        width: 90%;
        font-size: 15px;
    }
    .info{
        padding-left: 20px;
    }
    .info h2{
       font-size: 18px;
    }
    .info span{
        font-size: 10ps;
    }
    .plans_options{
        display: flex;
        flex-direction: column;
        width: 100%
    }
    .show{
        display: flex;
        flex-direction: row;
        height: 40px;
    }
    .plans_options .first{
        margin-left: 20px;
        font-size: 10px;
        width: 80%;
        margin-bottom: 5px;
    }
    .plans_options .second{
        font-size: 10px;
        width: 80%;
        margin-bottom: 5px;
    }
    .plans_options .third{
        font-size: 10px;
        width: 80%;
        margin-bottom: 5px;
    }
    .show h2{
        padding-left: 10px;
        color: blue;
        margin-bottom: 200px;
    }
    .sub{
        font-size: 15px;
        margin-left: 30px;
    } 
    .radio_btn{
        padding-left: 10px;
    }
    .subs{
        font-size: 10px;
    }
    .online{
        width: 85%;
        height: 60px;
    }
    
   .total span{
    margin-left: 70px;
   }
   .add-sum span{
    margin-left: 50px;
   }
   .thanks{
    display: none;
   }
   .online-dis p{
    font-size: 14px;
    font-weight: 800;
   }
   .online-dis span{
    font-size: 2px;
    font-weight: 300;
   }
   .online p{
    font-size: 13px;
   }
   .online-dis{
    width: 87%;
   }
   .sum-2{
    padding: 0;
   }
   .sum-2 p{
    width: 90%;
    text-align: center;
   }
   .thanks{
    padding-left: 0;
    margin-left: 0;
   }
} 